# ── Discord Bot Credentials ──────────────────────────────────────────────────
BOT_TOKEN=MTQ4MDkzNDY0MjA1NDk4Nzk0OA.G138-w.Ts4QErbniR2NUXJBNL27JoVtkorMDHT06Msyi0
CLIENT_ID=1480934642054987948
GUILD_ID=1366468454902661193

# ── Channel IDs ───────────────────────────────────────────────────────────────
# The channel where duty start/end logs will be posted
LOG_CHANNEL_ID=1480936568788226048
